<nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a href="https://www.adventemodal.com/"><img class="img-fluid advent-logo1" src="../../assets/images/landing-page/advent logo.svg"
            alt="Advent Logo"></a>
            <div class="d-flex">
                <a class="" href="https://emodal.zendesk.com/hc/en-us/requests/new" target="_blank"><img
                        class="header-help-icon mr-2" src="../../assets/images/landing-page/help-24px.svg" alt="Help Icon"></a>
                <a><button
                        class="btn btn-dark header-login-button align-middle" (click)="login()" >Login</button></a>
            </div>
    </div>
</nav>

<div class="jumbotron hero-bg">
    <div class="container d-flex justify-content-center">
        <a href="https://www.emodal.com/" target="_blank"><img class="emodal-logo-white mb-5"
                src="../../assets/images/landing-page/eModal-logo-01.png" alt="eModal Logo"></a>
    </div>
    <div class="container d-flex flex-column align-items-end feature-buttons">
        <div class="trans-box d-flex justify-content-center align-items-center mt-5">
            <a target="_blank" (click)="login()">
                <p>eModal Login</p>
            </a>
        </div>
        <div class="trans-box d-flex justify-content-center align-items-center">
            <a target="_blank">
                <p>eModal Support</p>
            </a>
        </div>
        <div class="trans-box d-flex justify-content-center align-items-center">
            <a target="_blank">
                <p>Ocean Carrier Fee Payment</p>
            </a>
        </div>
        <div class="trans-box d-flex justify-content-center align-items-center">
            <a target="_blank">
                <p>Vessel Schedules</p>
            </a>
        </div>
        
    </div>
</div>

<div class="container-fluid status-div">
    <p class="title">Current eModal Platform Status</p>
    <p class="status">All eModal systems are functioning normally.</p>
    <p class="helpline">Are you having trouble making an appointment or paying a fee? <a class="text-danger"
            href="https://www.adventemodal.com/emodalsupport.html" target="_blank">CLICK HERE</a></p>
</div>

<div class="container-fluid d-flex footer">
    <div class="col-lg-6 d-flex justify-content-between flex-wrap">
        <a class="advent-logo2" href="https://www.adventemodal.com/"><img class="img-fluid"
                src="../../assets/images/landing-page/advent logo 01.png" alt="Advent Logo Stacked"></a>
        <ul class="footer-links">
            <li><a href="https://www.adventemodal.com/tos.html" target="_blank">Terms of Service</a></li>
            <li><a href="https://www.adventemodal.com/privacy.html" target="_blank">Privacy Policy</a></li>
            <li><a href="https://www.adventemodal.com/gdpr.html" target="_blank">GDPR Statement</a></li>
            <li><a href="https://account.emodal.com/Home/CookiePolicy?Client_id=eModal" target="_blank">Cookie
                    Policy</a></li>
        </ul>
        <div class="d-flex flex-column justify-content-center support-icon">
            <a href="https://emodal.zendesk.com/hc/en-us/requests/new" target="_blank"><img
                    src="../../assets/images/landing-page/help_outline-24px (1).svg" alt="Help Icon Outlined"></a>
            <a href="https://emodal.zendesk.com/hc/en-us/requests/new" target="_blank">
                <p>Support</p>
            </a>
        </div>

    </div>
    <div class="col-6"></div>
</div>