<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-2">Watchlist</a>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Container you want to watch</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form class="formControl" name="formcontrol">
                <!-- Add Containar Id -<input type="text" [(ngModel)]="containerIds" name="containerIds" #contid> -->
            </form>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-outline-dark" (click)="addContainer(contid.value)">ADD</button> -->
        </div>
    </ng-template>
    <button class="btn btn-default-add" (click)="open(content)">Add Container</button>
    <!-- <button type="button" class="btn btn-default-add" (click)="deletwSelectedRows()" *ngIf="this.activeremove">Remove Container</button> -->
</nav>